<div class="container text-center" style="margin-top: 20px; ">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card style="background-color: snow; margin-bottom: 20px;">
        <img src="../../../assets/ps.png" alt="ps icon" style="height: 120px; width: 120px;">
        <h1 class="text-center" style="margin-top: 5px;">Ragister Here!!</h1>

        {{user|json}}

        <form (ngSubmit)="formSubmit()" >
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>username</mat-label>
            <input required [(ngModel)]="user.username" name="username" matInput placeholder="enter here">
            <mat-hint style="color: red;">username must be unique</mat-hint>
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>password</mat-label>
            <input required [(ngModel)]="user.password" name="password" type="password" matInput
              placeholder="enter here">
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>first name</mat-label>
            <input required [(ngModel)]="user.firstName" name="firstName" matInput placeholder="enter here">
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>last name</mat-label>
            <input required [(ngModel)]="user.lastName" name="lastName" matInput placeholder="enter here">
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>email</mat-label>
            <input required type="email" [(ngModel)]="user.email" name="email" matInput placeholder="enter here">
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>phone</mat-label>
            <input required type="number" [(ngModel)]="user.phone" name="phone" matInput placeholder="enter here">
          </mat-form-field>

          <div class="container">
            <button type="submit" mat-raised-button color="primary">Ragister</button>
            <button mat-raised-button color="accent" style="margin-left: 20px;">Clear</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>